name: Build and upload to PyPI

on:
  workflow_dispatch:
  push:
    tags:
     - v*

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }} with Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-13, macos-14]
        python-version: ["3.9", "3.10", "3.11"]
        include:
          - os: ubuntu-latest
            file: libemulator-linux-x86_64.so
#          - os: windows-2019
#            file: libemulator.dll
          - os: windows-latest
            file: libemulator.dll
          - os: macos-13
            file: libemulator-mac-x86-64.dylib
          - os: macos-14
            file: libemulator-mac-arm64.dylib

    steps:
      - uses: actions/checkout@v3

      - name: Download prebuilt  # https://github.com/disintar/tonpy/blob/main/.github/workflows/wheels.yml#L108
        run: |
          curl -Lo ./pytvm/engine/${{ matrix.file }} https://github.com/ton-blockchain/ton/releases/latest/download/${{ matrix.file }}

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        if: (matrix.os != 'macos-14') || (matrix.python-version != '3.9')
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up Python ${{ matrix.python-version }}
        run: |
          brew install python@3.9
        if: (matrix.os == 'macos-14') && (matrix.python-version == '3.9')

      - name: Install libs on MacOs14
        run: |
          brew install secp256k1 libsodium
        if: matrix.os == 'macos-14'

      - name: Test and build wheels
        if: matrix.os != 'windows-latest'
        run: |
          python${{ matrix.python-version }} -m pip install --upgrade pip
          python{{ matrix.python-version }} -m pip install -r requirements.txt
          python{{ matrix.python-version }} -m pip install wheel pytest build==1.0.3
          pytest
          python${{ matrix.python-version }} -m build --wheel --sdist
      - name: Build wheels on windows
        if: matrix.os == 'windows-latest'
        run: |
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install wheel pytest build==1.0.3
          pytest
          python3 -m build --wheel --sdist

      - name: Patch MacOs14 wheelnames
        if: matrix.os == 'macos-14'
        run: |
          brew install rename
          rename 's/universal2/arm64/' dist/*

      - name: Patch MacOs13 wheelnames
        if: matrix.os == 'macos-13' # todo check arch, not os
        run: |
          brew install rename
          rename 's/universal2/x86_64/' dist/*

      - name: Repair wheels
        if: runner.os == 'Linux'
        run: |
          ls dist
          export FILE=$(pwd)/dist/$(ls dist | grep .whl)
          
          pip install auditwheel
          python3 -m auditwheel show $FILE
          python3 -m auditwheel repair $FILE --plat manylinux_2_27_x86_64

      - uses: actions/upload-artifact@v2
        if: runner.os != 'Linux'
        with:
          path: ./dist/*.whl

      - uses: actions/upload-artifact@v2
        if: runner.os == 'Linux'
        with:
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Build sdist
        run: |
          python -m pip install --upgrade pip
          pip install build==1.0.3
          python -m build --sdist

      - uses: actions/upload-artifact@v2
        with:
          path: dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
#    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
